body{
background-color: crimson;
    
}
h1,h2,h3{
    text-align: center;
}
header{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 10%;
    width: 100%;
}
main{
    position: fixed;
    top: 10%;
    left: 5%;
    height: 80%;
    width: 100%;
    overflow: auto;
}
footer{
    position: fixed;
    top: 90%;
    left: 0%;
    height: 10%;
    width: 100%;
}